img.earth-img-0-0{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my00Rotate 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes my00Rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(72deg)}
}

img.earth-img-0-1{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my01Rotate 0.3s ease-in-out 0s 1 reverse forwards;
}

@keyframes my01Rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(72deg)}
}

img.earth-img-72-0{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: myRotate72 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes myRotate72 {
  from {transform: rotate(72deg)}
  to {transform: rotate(144deg)}
}

img.earth-img-72-1{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my7201Rotate 0.3s ease-in-out 0s 1 reverse forwards;
}

@keyframes my7201Rotate {
  from {transform: rotate(72deg)}
  to {transform: rotate(144deg)}
}

img.earth-img-144-0{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: myRotate144 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes myRotate144 {
  from {transform: rotate(144deg)}
  to {transform: rotate(216deg)}
}

img.earth-img-144-1{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my-Rotate1441 0.3s ease-in-out 0s 1 reverse forwards;
}

@keyframes my-Rotate1441 {
  from {transform: rotate(144deg)}
  to {transform: rotate(216deg)}
}

img.earth-img-216-0{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: myRotate216 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes myRotate216 {
  from {transform: rotate(216deg)}
  to {transform: rotate(288deg)}
}
img.earth-img-216-1{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my-Rotate2161 0.3s ease-in-out 0s 1 reverse forwards;
}

@keyframes my-Rotate2161 {
  from {transform: rotate(216deg)}
  to {transform: rotate(288deg)}
}


img.earth-img-288-0{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: myRotate288 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes myRotate288 {
  from {transform: rotate(288deg)}
  to {transform: rotate(360deg)}
}

img.earth-img-288-1{
  position:fixed;
  display: block;
  margin-left: calc(50% - 650px);
  z-index: -1;
  bottom: calc(0% - 1000px);
  animation: my-Rotate2881 0.3s ease-in-out 0s 1 reverse forwards;
}

@keyframes my-Rotate2881 {
  from {transform: rotate(288deg)}
  to {transform: rotate(360deg)}
}
