h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(163, 154, 154, 0.918)
}
#title{
    background-color:orange;
}
