h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    color: rgb(231, 135, 56);
}
h6{
    text-align:center;
    font-family:'Indie Flower', cursive;
    color: rgba(163, 154, 154, 0.918);
    font-size: 20px;
}
#title{
    background-image: url('../headerImg.png');
    background-repeat: repeat-x;
    background-size: auto 200px;
}

.title-logo{
    position: absolute;
    left: 10%;
    top: -0.75em;
    width: 80px;
    height: 100px;
}
